header{
    background-color: rgba(212, 161, 228, 0.913);
width: 100%;
}

img{
    width: 150px;
}
h1{
    font-size: 34px;
    color:rgba(87, 7, 104, 0.667);
    font-family: 'Times New Roman', Times, serif;
}
p{
    font-size: 26px;
    color: rgb(40, 6, 41);
}

.contenedor{
    display:flex;
    flex-direction:row;
    width: 100%;
    background-color: rgb(193, 89, 205);
    margin: 10px 0 10px 0;
    
}
.caja{
    width: 100%;
    height: 100%;
    padding: 10% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.caja img{
    border-radius: 50%;
}
.caja p{
    font-size: 12px;
}